ul{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol{
    font-size: 20px;
}

#top{
    text-decoration: underline;
}

#top{
    text-align: center;
}

#top{
    color: rgb(79, 132, 132);
}

#top{
    font-style: oblique;
}

.fontsizeandstyle{
    font-size: large;
    font-style: oblique;
    color: rgb(79, 132, 132);
}

body{
    background-color: beige;
}

.resumepage{
    text-align: right;
}